/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

/* colors {
  #221F20
  #DA592F
  #561B1A
  #9A9576
  #D8D3A8
} */

body {
  background-color: #561b1a;
  color: #d8d3a8;
  overflow: hidden;
}

/******************************************
/* LAYOUT
/*******************************************/
/* header and nav styling */

header {
  display: flex;
  width: 80%;
  border: 2px solid #9a9576;
  border-radius: 20px;
  justify-content: space-between;
  margin: 10px auto;
}

header img {
  border-radius: 20px;
}

nav ul {
  display: flex;
}

li {
  list-style-type: none;
  padding: 20px;
  color: #9a9579;
  font-size: 1.3em;
}

/* main section styling */

main {
  display: flex;
  width: 82%;
  margin: auto;
  padding-top: 50px;
}

h1 {
  font-size: 4rem;
  width: 75%;
}

#intro {
  width: 45%;
}

#intro p {
  width: 75%;
  padding-bottom: 2rem;
}

#intro a {
  padding: 10px;
  background-color: #da592f;
  border:#561b1a 1px solid;
  color: #561b1a;
  text-decoration: none;
  border-radius: 10px;
}

#heroImage {
  width: 35%;
}

#heroImage img {
  width: 20rem;
}

#restInfo {
  width: 20%;
}

/* features styling */
#divider {
  width: 120%;
  margin: auto;
}

#features {
  background-color: #da592f;
  height: 500px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

#features h2,
#features section {
  margin-top: 0;
}

#features h2 {
  font-size: 2rem;
}

#features p {
  width: 75%;
}
#features section {
  padding: 20px;
}

.holder {
  width: 80%;
  display: flex;
  padding: 10px 35px;
  justify-content: space-around;
  margin: auto;
}

.featureImg {
  border-radius: 40px;
}

/* footer {
} */
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
